.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 50%;
    min-width: 300px;
}
.img-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-producto{
    min-width: 250px;
}

.info-wrapper{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px; 
}

.sdk{
    display: flex;
    justify-content: end;
    margin:0 15px;
}